# Git LFS для архивов
*.rar filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text

# HTML файлы - всегда текстовые
*.html -text

# Остальные текстовые файлы
*.css -text
*.js -text
*.txt -text
*.md -text
